
.haloImgText {
    padding-top: 10rem;
}
.haloImgText > h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0.25rem 0.25rem 0.5rem black;
}
@media only screen and (max-aspect-ratio: 4/3) {
    .indexFold {
        height: 50vh;
        width: 100vw;
    }
    .haloImgText > h1 {
        /*top, right & left, bottom*/
        padding: 10rem 0 15rem;
    }

    #t2BtnContainer {
        height: 6rem;
        /*padding: 5rem 0 0;*/
    }
    .t3Pt1, .t3Pt2 {
        height: 20vh;
        width: 98vw;
    }
    .t3PtTo, .t3PtLog, .t3PtGro {
        height: 12.5vh;
        width: 98vw;
    }
}
@media only screen and (min-aspect-ratio: 4/3) {
    .indexFold {
        height: 100vh;
        width: 100vw;
    }
    .haloImgText > h1 {
        /*top, right & left, bottom*/
        padding: 10rem 0 20rem;
    }
    #t2BtnContainer {
        height: 3rem;
        /*padding: 5rem 0 0;*/
    }
    .t3Pt1, .t3Pt2 {
        height: 40vh;
        width: 98vw;
    }
    .t3PtTo, .t3PtLog, .t3PtGro {
        height: 25vh;
        width: 98vw;
    }
}

.backgroundImg {
    background-size: cover;
    background-position: center;
}

#t2TasteBtn {
    background-color: rgb(92, 205, 92);
    color: white;
}
#t2TasteBtn:hover {
    background-color: rgb(112, 225, 112);
    color: white;
    transition: all 0.25s;
}
#t2SeeBtn {
    background-color: rgb(205, 92, 92);
    color: white;
}
#t2SeeBtn:hover {
    background-color: rgb(225, 112, 112);
    color: white;
    transition: all 0.25s;
}
#t2PlanningBtn {
    background-color: rgb(92, 92, 205);
    color: white
}
#t2PlanningBtn:hover {
    background-color: rgb(112, 112, 225);
    color: white;
    transition: all 0.25s;
}

#languageSelector {
    position: absolute;
    top: 0;
    right: 0;
}
.langSelect {
    color: white;
}
.langSelect.active {
    background-color: transparent;
    font-weight: bold;
}
.langSelect:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s;
}


.t2Greyout {
    background-color: rgba(20, 20, 20, 0.50);
    height: 100vh;
    width: 100vw;
}

.t3PtA {
    width: 100vw;
    max-width: 100vw;
    height: 90vh;
    max-height: 85vh;
}
.t3Pt1 > h3, .t3Pt2 > h3,
.t3PtTo > h3, .t3PtLog > h3, .t3PtGrow > h3 {
    padding-top: 0.5rem;
}

.manyMore {
    width: 100%;
    text-align: center;
}
.t3Pt1 > div > a:hover, .t3Pt2 > div > a:hover,
.t3PtTo > div > a:hover, .t3PtLog > div > a:hover, .t3PtGrow > div > a:hover {
    cursor:  pointer;
}

.navbar .navbar-nav .active {
    text-decoration: underline overline;
    text-underline-offset: 0.42em;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #6699CC;
    transition: background-color 0.5s;
}
