.indexFold {
    height: 100vh;
    width: 100vw;
}
.haloImgText {
    padding-top: 10rem;
}

.haloImgText > h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0.25rem 0.25rem 0.5rem black;
}

@media only screen and (max-aspect-ratio: 4/3) {
    .haloImgText > h1 {
        /*top, right & left, bottom*/
        padding: 10rem 0 15rem;
    }

    #t2BtnContainer {
        height: 6rem;
        /*padding: 5rem 0 0;*/
    }
}
@media only screen and (min-aspect-ratio: 4/3) {
    .haloImgText > h1 {
        /*top, right & left, bottom*/
        padding: 10rem 0 20rem;
    }
    #t2BtnContainer {
        height: 3rem;
        /*padding: 5rem 0 0;*/
    }
}
#t2ExperiencesBtn {
    background-color: indianred;
    color: white
}
#t2ExperiencesBtn:hover {
    background-color: palevioletred;
    color: white;
    transition: all 0.25s;
}

#t2PlanningBtn {
    background-color: royalblue;
    color: white
}
#t2PlanningBtn:hover {
    background-color: cornflowerblue;
    color: white;
    transition: all 0.25s;
}

#languageSelector {
    position: absolute;
    top: 0;
    right: 0;
}
.langSelect {
    color: white;
}
.langSelect.active {
    background-color: transparent;
    font-weight: bold;
}
.langSelect:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s;
}


